header{
    font-size: 33px;
    color: rgb(255, 255, 255);
}
.name{
  color: antiquewhite;
}
.links{
    float: right;
    background-color: rgba(255, 255, 255, 0.296);
    color: antiquewhite;
}
h1{
    background-color: rgba(206, 215, 214, 0);
    text-align: center;
    color: rgb(254, 254, 255);
    font-style: italic;
    font-size: 40px;
}
h2{
    background-color: rgba(206, 215, 214, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 30px;
    padding-top: 2%;
}
p{
    background-color: rgba(206, 215, 214, 0);
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding-top: 7%;
}
img{
    padding-top: 7%;
    padding-left: 40%;
}
body{
    background-image: url('https://i.pinimg.com/originals/fd/06/7d/fd067d2e37d22c9d77eadf610123d196.jpg');
    background-position: 35%;
    background-size: cover;
}
/*About Page*/
.special{
    font-size: 28px;
}
.media-link{
    width: 50px;
    padding-top: 11%;
}
/*Portfolio Page*/
.art-1{
    text-align: center;
}
.art1{
    padding-left: 35%;
}
.art-2{
    text-align: center;
}
.art2{
    padding-left: 35%;
}
.art-3{
    text-align: center;
}
.art3{
    padding-left: 35%;
}
